<% @reviews.each do |review| %>
<div class="col-sm-6 col-md-4 review_box" id="review_<%= review.id %>">
  <div class="thumbnail" id="">
    <div class="book-body">
      <img class="book_img" src="<%= h(review.book.image_src)%>">
      <div class="caption">
        <div class="book-title"><%= h(review.book.title) %></div>
        <div class="book_column">著者</div>
        <div class="book_column_info"><%= h(review.book.author) %></div>
        <div class="book_column">出版社</div>
        <div class="book_column_info"><%= h(review.book.publisher) %></div>
        <div class="book_column">出版日</div>
        <div class="book_column_info"><%= h(review.book.published_at) %></div>
        <div class="book_column">ページ数</div>
        <div class="book_column_info"><%= h(review.book.page) %></div>
      </div>
    </div>
    <div class="panel-footer">
       <div class="user_info">投稿者 <a href="/users/<%= h(review.user.id)%>"><%= h(review.user.name)%></a> 投稿日 2016/4/15</div>
       <div id="review_info_<%= review.id %>"class="user_review_info"><%= h(review.body) %></div>
       <% if @user and is_owner?(@user.id) %>
       <div>
         <p>タグ:
         <% review.book.get_tags_per_user(current_user).each do |tag| %>
           <%= tag.label %>
         <% end %>
         </p>
       </div>
        <div class="book_botton">
            <button type="button" id="rewrite_btn" data-id="<%= review.id %>" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rewrite_dialog">rewrite</button>
            <button type="button" data-id="<%= review.id %>" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#delete_dialog">delete</button>
        </div>
       <% end %>
    </div>
  </div>
</div>
<% end %>
