<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="thumbnail" id="">
      <div class="book-body">
        <img class="preview-book-img" src="<%= h(book.image_src)%>">
        <div class="preview-book-caption">
          <div class="book-title"><%= h(book.title) %></div>
          <div class="book_column">著者</div>
          <div class="book_column_info"><%= h(book.author) %></div>
          <div class="book_column">出版社</div>
          <div class="book_column_info"><%= h(book.publisher) %></div>
          <div class="book_column">出版日</div>
          <div class="book_column_info"><%= h(book.published_at) %></div>
          <div class="book_column">ページ数</div>
          <div class="book_column_info"><%= h(book.page) %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
<%= form_for review, { controller: :reviews, action: :create, class: "form-horizontal"} do |f| %>
  <div class="field form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 5, class: "form-control" %>
  </div>

  <%= label_tag "tags" %>
  <div id="tag_form" class="field form-group">
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :book_id, value: book.id%>

  <%= f.submit 'Create New Review', class: "btn btn-primary" %>
<% end %>
</div>
