<!DOCTYPE html>
<html>
<head>
  <title>HonDana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="main_content" class="clearfix">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
  <% end %>
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
<script>
  __user_id = <%= logged_in? ? current_user.id : "null" %>;
</script>
</body>
</html>
